@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    }

body {
    background-image: linear-gradient(to right, #024959, #1C8C81);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #01354134 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #F2B749;
    text-align: center;
    text-shadow: 1px 1px 2px #5e471cb6 ;
}
h2{
    color: #F28749;
}
p {
    text-align: justify;
}